<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>multiples-exercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B91A7191E446482002A90DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B91A72D1E446483002A90DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B91A7381E446483002A90DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
